<div class="subpage-banner">
  <div class="page-width"><h1>{{ page_title }}</h1></div>
</div>

<div style="background-color: white; padding: 1px 0;">
  <div class="page-width" style="margin-top: 60px; margin-bottom: 60px;">
    {{ page.content }}
  </div>
</div>
