<div class="subpage-banner">
  <div class="page-width"><h1>{{ page_title }}</h1></div>
</div>

<div class="about-sections">
  <ul class="submenu">
    <li><a href="#cafe-family">Caf&eacute; Family</a></li>
    <li><a href="#purpose">Purpose</a></li>
    <li><a href="#roastery-hq">Roastery HQ</a></li>
  </ul>
  
  <div class="page-width">
    {{ page.content }}
  </div>

  <!-- <div class="page-links">
    <div style="background-image: url({{ 'espresso-machine.jpg' | asset_url }});">
      <a href="/collections/all"><h4>Shop</h4></a>
    </div>
    <div style="background-image: url({{ 'coffee1.jpg' | asset_url }});">
      <a href="/pages/wholesale"><h4>Wholesale</h4></a>
    </div>
  </div> -->
</div>