<div class="product-banner" style="background-image: url({{ section.settings.bk | img_url: '2560x' }});">
  <div class="page-width"><h1>{{ page_title }}</h1></div>
</div>

{% schema %}
  {
    "name": "Product banner",
    "settings": [
      {
        "type": "image_picker",
        "id": "bk",
        "label": "Background image"
      }
    ],
    "presets": [
      {
        "name": "Product banner",
        "category": "Image"
      }
    ]
  }
{% endschema %}